$primary: #1890FF; // 主题色
$hover: #3398BC; // 移入色
$warning: #FF7E00; // 警告色
$error: #DD1111; // 错误色
$success: #2FC25B; // 成功色
$danger: #DD1111; // 危险色
$info: #909399; // 信息色
$normal: #000; // 常规色

$lineColor:#ccc; //表格线条相关颜色

$shadow: #FBFBFB; // 阴影色
$border-color: #E0E0E0; // 边框色

$box-shadow: 5px 2px 5px #E0E0E0; // 阴影

$grey: #FAFAFA; // 灰色
$blur: #888; // 辅助色

$blockBackground:#f0f1f2 //vxeToolbarBox，pagination等相关背景色